body {
    margin:0
}

#header {
    background-color: deepskyblue;
}

#content {
    float:left;
    width:70%;
    background-color: darkgrey;
}

#sidebar {
    float:left;
    width:30%;
    background-color: thistle;
}

#footer {
    clear:both;
    background-color: #6d6d6d;
}
/*  */